BROWSERBASE_API_KEY=
BROWSERBASE_PROJECT_ID=
GPTZERO_API_KEY=
USE_MOCKS=
# Optional
STAGEHAND_MODEL=
CONTROLLED_TARGET_URL=
TARGET_PORT=4100
API_PORT=4000
BROWSERBASE_SESSION_TIMEOUT_S=900
LINEAGE_CONTACT_EMAIL=
CORS_ORIGIN=
